.idea/*
.vscode/
*.pyc
*.wpr
*.wpu
*/migrations/
static/serial/
static/report/
static/cipher_text/
static/penetration/
static/update_folder/
static/update_zip/
logs/files/
public/files/
tests/tx/tx/
keyvalue/
attack/files/
env/
venv/
laozhi/settings.py
laozhi/laozhi.conf
control/tasks.conf
control/celerybeat.pid
task/config.py
log/files/runscan.txt
tests/license/test_license.pem
report/temp/*.html
test.py
code.png
laozhi.file*
.python-version